.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  justify-content: center;
  border: 1px solid white;
  box-shadow: 0 0 5px white;
  border-radius: 10px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: palegreen;
}

.active-tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#reset-password-button {
  justify-content: center;
}
