.reset-password-container {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: gainsboro;
  border: 0.5px solid black;
  padding: 20px;
  width: 400px;
  transition: opacity 2.75s ease-in;
}

.reset-password-container.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2.75s ease-in;
}

.reset-header {
  margin: 0px;
  text-align: center;
  border-radius: 0px;
  align-items: last baseline;
  justify-content: center;
}

.reset-header.button {
  float: right;
}
