.task-list-container {
  display: flex;
  overflow: visible;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.task-list-items {
  padding: inherit;
  overflow: visible;
  margin: 10px 0px 10px 0px;
  width: 35vw;
  padding: auto;
  text-align: center;
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.add-task {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 350px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: gainsboro;
  justify-content: center;
  flex-direction: row;
  justify-items: center;
  text-align: center;
}

.task {
  display: flex;
}
