.app {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

button {
  background-color: white;
  border: 0px;
  padding: 10px;
  margin: 5px;
}

button:hover {
  background-color: black;
  color: white;
  transition: 500ms;
}

html,
body {
  margin: 0;
  padding: 0;
}
