.app {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: #899499;
}

button {
  background-color: whitesmoke;
  border: 0px;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
